@import "./../../helpers/helpers.scss";

.services-container {
  display: flex;
  width: 100%;
  height: 80vh;
  padding: 2% 0;
  margin-top: 200px;
  user-select: none;
}

// Typography

.image-container {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  ::selection {
    background-color: transparent;
  }
  &.big {
    flex: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      pointer-events: none;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
  }

  .overlay-content {
    position: absolute;
    color: $white;
    z-index: 222;
    width: 100%;
    height: 100%;
    inset: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease;
    cursor: pointer;
    padding-top: 15%;

    h2,
    .service-p {
      margin: 0;
      padding: 3%;
      text-align: center;
    }

    .service-p {
      line-height: 2;
      font-weight: 400;
      font-size: 16px;
      hyphens: auto;
    }
    h2 {
      margin-bottom: 20px;
      margin: 0 5px;
    }

    .services-button {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .services-button button {
      @include flexCenter(column);
      width: 55px;
      height: 55px;
      border: none;
      color: $white;
      font-size: 20px;
    }

    &.prpl {
      @include customBg($purple-light, 0.8);
      backdrop-filter: blur(6px);
      outline: 2px solid $purple-light;
      h2 {
        border-bottom: 5px solid transparent;
        border-right: 5px solid transparent;
        transition: border-color 0.4s ease;
      }
      &:hover {
        transition: backdrop-filter 0.4s ease;
        backdrop-filter: blur(0px);

        h2 {
          border-color: $orange;
        }
      }
      .btn2 button {
        background-color: $orange;
      }
    }

    &.orng {
      @include customBg($orange, 0.8);
      backdrop-filter: blur(6px);
      outline: 2px solid $orange;
      h2 {
        border-bottom: 5px solid transparent;
        border-right: 5px solid transparent;
        transition: border-color 0.4s ease;
      }
      &:hover {
        transition: background-color 0.4s ease;
        backdrop-filter: blur(0px);

        .btn3 button {
          background-color: brightness($orange, 110%);
        }
        h2 {
          border-color: $purple-light;
        }
      }
      .btn3 button {
        background-color: $purple-light;
      }
    }
  }
}

@media (max-width: 993.98px) {
  .services-container {
    flex-direction: column;
    height: 100vh;
    .service-p {
      width: 70%;
    }
    h2 {
      width: 30%;
    }
    .image-container {
      &.big {
        flex: 1;
      }
      .overlay-content {
        display: flex;
        padding-top: 1%;
        align-items: flex-start;

        h2,
        .service-p {
          text-align: start;
        }

        &.prpl {
          &:hover {
            h2 {
              border-color: $orange;
            }
          }
        }
        &.orng {
          &:hover {
            h2 {
              border-color: $purple-light;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .image-container {
    &.big {
      flex: 1;
    }

    .overlay-content {
      .services-button button {
        width: 35px;
        height: 35px;
      }
    }
    .service-p {
      width: 60%;
    }
    h2 {
      width: 40%;
    }
  }
}

//TYPOGRAPHY

@media (max-width: 767.98px) {
  h2 {
    font-size: 20px;
  }
  .image-container {
    .overlay-content {
      .service-p {
        font-size: 13px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1980.98px) {
  .image-container {
    .overlay-content {
      .service-p {
        font-size: 20px;
        font-weight: 300;
      }
      h2 {
        font-size: 35px;
      }
    }
  }
}
