.collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
}
.collageImg {
  width: 100%;
  min-height: 100%;
  max-height: 500px;
  object-fit: cover;
}

@media (max-width: 747px) {
  .collageImg {
    min-height: 300px;
  }
}


@media (max-width: 479px) {
  .collageImg {
    min-height: 270px;
  }
}

@media (max-width: 400px) {
  .collageImg {
    min-height: 220px;
  }
}
