@import "./../../helpers/helpers.scss";

#container-id {
  margin-left: 4%;
  margin-right: 10%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#basic-navbar-nav {
  flex-direction: column;
  align-items: flex-end;
}

#basic-navbar-socialmedia {
  margin-bottom: 40px;

  padding-left: 30px;
}


.flag{
  height: 13px;
  width: 20px
}

.navbar-nav, .nav-link {

  gap: 20px;
}


.navbar-nav .nav-link:hover {
  color: $orange;
}

.navbar-toggler-icon{
  border-radius:5px;
}

.navbar-toggler{
  color: $orange;
}

.navbar-toggler:hover{
 background-color: $orange-light;
}


@media (max-width: 992px) {
  #basic-navbar-socialmedia {
    margin-bottom: 0px;
  }

  .logo {
    width: 200px;
    height: 64px;
  }
  #basic-navbar-socialmedia {
    padding-left: 0;
  }
  #navbar-icons-languages,
  #navbar-icons-socialmedia{
    flex-direction: row;
  }

  #container-id {
    margin-right: 1%;
  }
}
