@import "./../../helpers/helpers.scss";

#container-id {
  margin-left: 4%;
  margin-right: 10%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#basic-navbar-nav {
  flex-direction: column-reverse;
  align-items: flex-end;
  .clr-black{
    a {
      color: $black;
      transition: background-color 0.3s ease;

      &:hover {
        color: $orange;
      }
    }
}}

#basic-navbar-socialmedia {
  margin-bottom: 40px;

  padding-left: 30px;
}

.flag {
  height: 13px;
  width: 20px;
}

.navbar-nav,
.nav-link {
  gap: 20px;
}



.navbar-nav .nav-link:hover {
  color: $orange;
}

.navbar-toggler-icon {
  border-radius: 5px;
}


.navbar-toggler:hover {
  background-color: $orange-light;
}

@media (max-width: 991.8px) {
  #container-id {
    margin-right: 1%;
  }

  .navbar-nav{
    margin-top: 20px;
    a{
      color: $black;
    }
  }
  .navbar-nav,
  .nav-link {
    gap: 10px;
  }
  #basic-navbar-socialmedia {
    margin-bottom: 0px;
  }

  .logo {
    width: 200px;
    height: 64px;
  }
  #basic-navbar-socialmedia {
    padding-left: 0;
    display: none;
  }

  
  #navbar-icons-languages {
    flex-direction: row;


     
      .nav-item {
            padding-right: 15px;

      }
    
  }

  .bg-body-tertiary {
    position: sticky;
    top: 0;
    z-index: 99999;
  }
}
