@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Lato:wght@300;400;700&display=swap");

:root {
  font-synthesis: none;
  tap-highlight-color: transparent; /* For modern browsers */
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent; /* For iOS Safari */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}
img { max-width: 100%; height: auto }
html, body {
  height: 100%;
}
img{
  user-select: none;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  font-family: "Kanit", sans-serif;
  text-wrap: pretty;

}

span,a{
  font-family: "Kanit", sans-serif;
}

ul{
  list-style-type: none;
}



/* Changing bootstrap classes */
