
:root {
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent; /* For iOS Safari */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-display: swap;
  
}
html, body {
  height: 100%;
}

img{
  user-select: none;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  font-family: "Kanit", sans-serif;
  text-wrap: pretty;
 

}

span,a{
  font-family: "Kanit", sans-serif;
}

ul{
  list-style-type: none;
}
