.infoContainer {
  margin: 10% 15%;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

@media (max-width: 991.2px) {
  .infoContainer {
    margin: 17% 10%;
  }
}

@media (max-width: 790.2px) {
  .infoContainer {
    margin: 17% 5%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500.2px) {
  .infoContainer {
    margin: 120px 2% 200px 2%;
  }
}
